/* Google Font */
    /*Oleo Script Swash Caps*/
    @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
    /*Nunito*/
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/*Default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


