/* Google Font */
    /*Oleo Script Swash Caps*/
    @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
    /*Nunito*/
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/*Default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: url('../../../img/LogoKifila.png');
    background-repeat: no-repeat;
    background-position: center 80%;
    background-attachment: fixed;
}

.card{
    width: 18rem;
    border-radius: 10px;
}

.card-title{
    text-align: center;
}

.position{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.6rem;
}

.position-number{
    font-size: 2rem;
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

#btn-exit{
    height: 44px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 22px;
    border: 2px solid #fff;
    color: #FFF;
    background-color: #BB2D3B;
    font-weight: bold;
    transition: 0.5s;
}

#btn-exit:hover{
    background-color: #FFF;
    border: 2px solid #BB2D3B;
    color: #BB2D3B;
}

#btn-yes-exit{
    background-color: #4BC9C4;
    font-weight: bold;
    color: #FFF
}


