#title{
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.card{
    height: 100%;
}

#state-queue{
    display: flex;
    align-items: center;
    width: 100%;
}

#circle-activated{
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
    background-color: #228C22;
    border-radius: 50%;
}

#circle-disabled{
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
    background-color: #F32013;
    border-radius: 50%;
}

#queue-activated{
    color: #228C22;
}

#queue-disabled{
    color: #F32013
}

.buttons-card{
    display: flex;
    justify-content: flex-end;
}

.buttons-card a{
    text-decoration: none;
    margin-right: 1%;
}

.button-card{
    height: 44px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 22px;
    border: 2px solid #fff;
    font-weight: bold;
    transition: 0.5s;
}

#edit-button{
    background-color: #FEDC00;
}

#edit-button:hover{
    background-color: #FFF;
    border: 2px solid #FEDC00;
    color: #FEDC00;
}

#delet-button{
    background-color: #F32013;
}

#delet-button:hover{
    background-color: #FFF;
    border: 2px solid #F32013;
    color: #F32013;
}

#follow-button{
    background-color: #4BC9C4;
}

#follow-button:hover{
    background-color: #FFF;
    border: 2px solid #4BC9C4;
    color: #4BC9C4;
}


#follow-button-disabled{
    background-color: #4BC9C4;
    opacity: 0.5;
}

#edit-button{
    background-color: #FEDC00;
}

#disable-button{
    background-color:#FF8C00;
}

#disable-button:hover{
    background-color:#FFF;
    border: 2px solid #FF8C00;
    color: #FF8C00;
}

.button-create{
    display: flex;
    justify-content: center;
}

#btn{
    height: 60px;
    width: 12rem;
    align-items: center;
    background-color: #67dd39;
    border: 2px solid #FFF;
    border-radius: 30px;
    font-size: 1.6rem;
    transition: 0.5s;
}

#btn:hover{
    background-color: #FFF;
    border: 2px solid #67dd39;
    color: #67dd39;
}